/netbeans-tests/tests_code/target/
/1.0/library/steven-android/target/
/1.0/library/steven-core/target/
/1.0/library/steven-security/target/
/1.0/library/steven-thread/target/
/1.0/library/steven-collections/target/
/1.0/library/steven-io/target/
/1.0/library/steven-spring/target/
/1.0/library/steven-patterns/target/
/1.0/library/steven-generics/target/
/1.0/library/steven-ui/target/
/1.0/library/steven-cq5/target/
/1.0/library/steven-web/target/
/1.0/library/steven-ws/target/
/html-css/angular-robert-test/angular-assessment/nbproject/private/
/html-css/angular-robert-test/angular-assessment/node_modules
/html-css/angular-robert-test/angular-assessment/dist
build/
target/
bin/
.gradle/
.settings/
.idea/
.data/
.class/
*.class
