<div>
    <div class="col-xs-12">
        <h2>Accessing the backend</h2>
        <b>Invoice:</b>
        <div class="form-group">
            Quantity: <input class="form-control" type="number" min="0" ng-model="qty" required />
        </div>
        <div class="form-group">
            Costs: <input class="form-control" type="number" min="0" ng-model="cost" required />
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="inCurr">
                <option ng-repeat="c in currencies">{{c}}</option>
            </select>
        </div>
        <div class="form-group">
            <b>Total:</b>
            <span ng-repeat="c in currencies">
                {{total(c) | currency:c}}
            </span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="pay()">Pay</button>
        </div>
    </div>
</div>
