<!DOCTYPE html>
<html ng-app="HelloWorldApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title></title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script src="hello_world_controller.js"></script>
	</head>
	<body>
		<div>
			Hello {{ "World" }}
			<input ng-model="name">
			<h1>Hello, {{name}}</h1>
		</div>
		<div>
			<input ng-model="nameValue" type="text" placeholder="Your name please">
			<h1>Hello, {{nameValue}}</h1>
		</div>
		<div ng-controller="HelloWorldController">
			<h1>{{greeting}}</h1>
			<h1>{{title}}</h1>
		</div>
		<div ng-controller="HelloUserController">
			Your Name <input ng-model="name" ng-keyup="NameChange()">
			<h1>{{greeting}}</h1>
			<h2>{{name}}</h2>
		</div>
	</body>
</html>