<h2>List of Products</h2>
<div class="form-group list-group">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>id</th>
                <th>Phone</th>
                <th colspan="2">Company</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in controller.products">
                <td scope="row">{{ product.id }}</td>
                <td>{{ product.phoneName }}</td>
                <td>{{ product.company }}</td>
                <td> <a href="#!/products/details/:{{ product.id }}" class="btn btn-info" role="button">Details</a></td>
            </tr>
        </tbody>
    </table>

</div>