<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Example - August 2017</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="js/6_hello_user_controller.js"></script>
    <link rel="stylesheet" type="text/css" href="css/6_hello_user_controller.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/ng-template" id="tree_view">
      {{ node.title }}
      <ul ng-if="node.tree">
      <li ng-repeat="node in node.tree" ng-include="'tree_view'">
      </li>
      </ul>
    </script>

  </head>
  <body >
    <div ng-app="phonecatApp">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 left">
            <p>.col-4</p>
            <form>
              Pick a topic:
              <input type="radio" ng-model="myVar" value="dogs">Dogs
              <input type="radio" ng-model="myVar" value="tuts">Tutorials
              <input type="radio" ng-model="myVar" value="cars">Cars
            </form>

            <div ng-switch="myVar">
              <div ng-switch-when="dogs">
                <h1>Dogs</h1>
                <p>Welcome to a world of dogs.</p>
              </div>
              <div ng-switch-when="tuts">
                <h1>Tutorials</h1>
                <p>Learn from examples.</p>
              </div>
              <div ng-switch-when="cars">
                <h1>Cars</h1>
                <p>Read about cars.</p>
              </div>
            </div>

            <form>
              Select a topic:
              <select ng-model="myVar2">
                <option value="">
                <option value="dogs">Dogs
                <option value="tuts">Tutorials
                <option value="cars">Cars
              </select>
            </form>

            <div ng-switch="myVar2">
              <div ng-switch-when="dogs">
                <h1>Dogs</h1>
                <p>Welcome to a world of dogs2.</p>
              </div>
              <div ng-switch-when="tuts">
                <h1>Tutorials</h1>
                <p>Learn from examples2.</p>
              </div>
              <div ng-switch-when="cars">
                <h1>Cars</h1>
                <p>Read about cars2.</p>
              </div>
            </div>

            <h2>Validation Example</h2>

            <form ng-controller="validateCtrl"
                  name="myForm3" novalidate>

              <p>Username:<br>
                <input type="text" name="user" ng-model="user" required>
                <span style="color:red" ng-show="myForm3.user.$dirty && myForm.user.$invalid">
                  <span ng-show="myForm3.user.$error.required">Username is required.</span>
                </span>
              </p>

              <p>Email:<br>
                <input type="email" name="email" ng-model="email" required>
                <span style="color:red" ng-show="myForm3.email.$dirty && myForm3.email.$invalid">
                  <span ng-show="myForm3.email.$error.required">Email is required.</span>
                  <span ng-show="myForm3.email.$error.email">Invalid email address.</span>
                </span>
              </p>

              <p>
                <input type="submit"
                       ng-disabled="myForm3.user.$dirty && myForm3.user.$invalid ||
                       myForm3.email.$dirty && myForm3.email.$invalid">
              </p>

            </form>

          </div>
          <div class="col-sm-4 center">
            <p>.col-4</p>
            <div ng-controller="formCtrl">
              <form novalidate>
                First Name:<br>
                <input type="text" ng-model="user.firstName"><br>
                Last Name:<br>
                <input type="text" ng-model="user.lastName">
                <br><br>
                <button ng-click="reset()">RESET</button>
              </form>
              <p>form = {{user}}</p>
              <p>master = {{master}}</p>
              <form name="myForm">
                <input name="myInput" ng-model="myInput" required>
              </form>
              <p>The input's valid state is:</p>
              <h1>{{myForm.myInput.$valid}}</h1>
            </div>

          </div>
          <div class="col-sm-4 right">
            <p>.col-4</p>
            <form name="myForm">
              <input name="myInput" ng-model="myInput" type="email">
            </form>
            <p>The input's valid state is:</p>
            <h1>{{myForm.myInput.$valid}}</h1>
            <form name="myForm2">
              <input name="myInput2" ng-model="myInput2" required my-directive>
            </form>
            <p>The input's valid state is:</p>
            <h1>{{myForm2.myInput2.$valid}}</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
