<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Example - August 2017</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
    <script src="js/8_hello_user_controller_router_controller.js"></script>
    <link rel="stylesheet" type="text/css" href="css/6_hello_user_controller.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/ng-template" id="tree_view">
      {{ node.title }}
      <ul ng-if="node.tree">
      <li ng-repeat="node in node.tree" ng-include="'tree_view'">
      </li>
      </ul>
    </script>

  </head>
  <body >
    <div ng-app="phonecatApp">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 left">
            <p>.col-4</p>
            <p><a href="#/!">Main</a></p>

            <a href="#!red">Red</a>
            <a href="#!green">Green</a>
            <a href="#!blue">Blue</a>

          </div>
          <div class="col-sm-4 center">
            <p>.col-4</p>
            <div ng-view></div>

          </div>
          <div class="col-sm-4 right">
            <p>.col-4</p>
            <div ng-controller="ParentController">  
              ParentController: <input type="text" ng-model="foo" />
              <div ng-controller="ChildController">
                ChildController: <input type="text" ng-model="foo" />
              </div>
            </div> 

            <div ng-controller="ParentController2">  
              ParentController: <input type="text" ng-model="obj.foo" />
              <div ng-controller="ChildController2">
                ChildController: <input type="text" ng-model="obj.foo" />
              </div>
            </div>
            <br>
            <div ng-controller="ParentController3 as parent">  
              ParentController: <input type="text" ng-model="parent.foo3" />
              parent.foo3: {{ parent.foo3 }}
              <div ng-controller="ChildController3 as child">
                ChildController: <input type="text" ng-model="parent.foo3" />
                parent.foo3: {{ parent.foo3 }}
              </div>
              <div ng-controller="ChildController3 as child">
                ChildController child: <input type="text" ng-model="child.foo3" />
                child.foo3: {{ child.foo3 }}
              </div>
            </div>  

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
